
.mdl-layout__header-row {
  background-color: rgb(33, 43, 56);
}

.landing-grid { 
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 210px;
  padding-top: 11em;
}

.banner-text {
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(88, 235, 149);
  margin-top: 35px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 90%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: rgb(88, 235, 149);
  font-size: 5em;
  padding: 8px;
}